<%= form_with(model: surgery, local: true) do |form| %>
  <% if surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% surgery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_hours %>
    <%= form.datetime_select :date_hours %>
  </div>

  <div class="field">
    <%= form.label :feedback %>
    <%= form.text_area :feedback %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
     <%= form.select :doctor_id, @doctors.collect { |doctor| [ doctor.full_name, doctor.id ] } %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
     <%= form.select :room_id, @rooms.collect { |room| [ room.floor, room.id ] } %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
     <%= form.select :client_id, @clients.collect { |client| [ client.full_name, client.id ] } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
