<%= form_with(model: surgery, local: true) do |form| %>
  <% if surgery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(surgery.errors.count, "error") %> prohibited this surgery from being saved:</h2>

      <ul>
      <% surgery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date_hours %>
    <%= form.datetime_select :date_hours %>
  </div>

  <div class="field">
    <%= form.label :feedback %>
    <%= form.text_area :feedback %>
  </div>

  <div class="field">
    <%= form.label :doctors_id %>
    <%= form.text_field :doctors_id %>
  </div>

  <div class="field">
    <%= form.label :rooms_id %>
    <%= form.text_field :rooms_id %>
  </div>

  <div class="field">
    <%= form.label :clients_id %>
    <%= form.text_field :clients_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
