<p id="notice"><%= notice %></p>

<p>
  <strong>Date hours:</strong>
  <%= @surgery.date_hours %>
</p>

<p>
  <strong>Feedback:</strong>
  <%= @surgery.feedback %>
</p>

<p>
  <strong>Doctors:</strong>
  <%= @surgery.doctor.full_name %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @surgery.room.floor %>
</p>

<p>
  <strong>Clients:</strong>
  <%= @surgery.client.full_name %>
</p>

<%= link_to 'Edit', edit_surgery_path(@surgery) %> |
<%= link_to 'Back', surgeries_path %>
