<h1 class="ui green header"> Performed surgeries </h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Date hours</th>
      <th>Doctors</th>
      <th>Rooms</th>
      <th>Clients</th>
      <th>Feedback</th>
    
    </tr>
  </thead>

  <tbody>
    <% @surgeries.each do |surgery| %>
        <% if surgery.date_hours - Time.now < 0 && current_doctor.id == surgery.doctor.id %>
        <tr>
            <td><%= surgery.date_hours %></td>
            <td><%= surgery.doctor.full_name %></td>
            <td><%= surgery.room.floor %></td>
            <td><%= surgery.client.full_name %></td>
            <td><%= surgery.feedback %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>



<a class="ui green label" rel="nofollow" data-method="get" href="/pages/home">Back</a>