<h1> Performed surgeries </h1>

<table>
  <thead>
    <tr>
      <th>Date hours</th>
      <th>Doctors</th>
      <th>Rooms</th>
      <th>Clients</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surgeries.each do |surgery| %>
        <% if surgery.date_hours - Time.now < 0 && current_doctor.id == surgery.doctor.id %>
        <tr>
            <td><%= surgery.date_hours %></td>
            <td><%= surgery.doctor.full_name %></td>
            <td><%= surgery.room.floor %></td>
            <td><%= surgery.client.full_name %></td>
            <td><%= surgery.feedback %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', :back%>
