<p id="notice"><%= notice %></p>

<h1>Doctors</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Birthday</th>
      <th>CRM</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td data-label="Name"><%= doctor.full_name %></td>
        <td data-label="Birthday"><%= doctor.birthday %></td>
        <td data-label="CRM"><%= doctor.crm %></td>
        <td data-label="Salary"><%= doctor.salary %></td>
        <td><%= link_to 'Show', doctors_show_path(id: doctor.id) %></td>
        <td><%= link_to 'Edit', manager_edit_doctor_path(doctor.id) %></td>
        <td><%= link_to 'Destroy', manager_destroy_doctor_path(doctor.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', manager_new_doctor_path %></br>
<%= link_to 'Back', authenticated_root_path %>

<script>
var alert =  "<%= alert %>"
if (alert != '' && alert != undefined) {
  alert(alert);
}
</script>